<!DOCTYPE html>
<html lang="en">
<head>
    <title>Answers</title>
</head>
<style>
    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
    table, th, td {
        border: 1px solid black;
    }
    body {
        font-family: Helvetica, Arial, Sans-Serif;
    }
</style>
<body>
    <h2>Answers</h2>

    <table style="width:100%">
        <tr>
            <th style="width:5%"><strong>ID</strong></th>
            <th style="width:70%"><strong>Answer Text</strong></th>
            <th style="text-align:left"><strong>Links</strong></th>
        </tr>    
        {% for answer in answers %}
        <tr>
            <td style="text-align:center">{{answer.id}}</td>
            <td>{{answer.text}}</td>
            <td>
                <a href="http://localhost:8000/admin/rfp_api/answer/{{ answer.id }}">Edit in Admin</a>
                <br>
                <a href="http://localhost:8000/questionList/?q={{ answer.id }}">View Associated Questions</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>