{% extends 'base_generic.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="col-md-6">
    <h2 class="text-center">Upload CSV</h2>
    <hr> <!-- Divider -->
    <form method="post" enctype="multipart/form-data" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
    {% if message %}
    <div class="alert alert-{{ tone }}">
      <p>{{ message }}</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}